
<div class="row gridContainer gridContainer-{data.tx_gridelements_backend_layout} {data.tx_mffoundation_collapses} {data.tx_mffoundation_collapsem} {data.tx_mffoundation_collapsel} layout-{data.layout} {data.tx_mffoundation_vgaps} {data.tx_mffoundation_vgapm} {data.tx_mffoundation_vgapl}">

    <f:for each="{data.tx_gridelements_view_columns}" as="ge-child" iteration="iterator">
        <f:format.raw value="{ge-child}" />
    </f:for>

</div>